@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

body{
    font-family: 'Nunito',sans-serif;
    overflow-x: hidden;
}
#hero-left{
}
.hero-circle{
    margin:15vh 5vw;
    border:20px solid white;
    border-radius: 50%;
    box-shadow: 0px 3px 25px 0 rgba(0, 0, 0, .25);
    width:450px;
}
.navbar{
    position: fixed;
    z-index: 999;
    
    width: 100%;
    background: rgba(255,255,255,0.75)!important;
}
.hey-description{
    padding-top:30px;
    font-size: 1.5em;
    font-family: 'IBM Plex Sans',sans-serif;
      color:rgba(0,0,0,0.75);
    text-align: justify;
}
.hey-description a {
    font-weight: bolder;
  
    
}
.hey-description a:hover{
    text-decoration: none;
    color:red;
    transition: all 0.5s;
}
.important-text{
    font-weight: 600;
    color:rgba(0,0,0,1);
    font-style: normal;
}
.navbar-brand{
    font-size: 1.5em!important;
  
}
.nav-item{
    font-size: 1em!important; 
}
#lname{
      font-weight: lighter!important;
}
#hero-right{
    padding-top:25vh;
}
#hero-description{
    text-align: justify;    
    width: 80%;
}


/*Buttons*/
.cv-btn
{
    border:1px solid red;
    padding:10px 30px;
    outline: none;
    background: none;
    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, .25);
    color:red;
    border-radius: 50px;
    transition: all 0.5s;
}
.cv-btn:hover{
    color:white;
    background: red;
}
.contact-btn
{
    border:1px solid gray;
    padding:10px 30px;
    outline: none;
    background: none;
    box-shadow: 0px 3px 4px 0 rgba(0, 0, 0, .25);
    color:gray;
    border-radius: 50px;
    transition: all 0.5s;
}
.contact-btn:hover{
    background: gray;
    color:white;
}

.landing{
    padding-top: 10vh;
    height: 100vh;
}
.hey-landing{
    padding:25vh 15vw;
    height: auto;
}
.hey{
    font-family: 'IBM Plex Sans',sans-serif;
    font-weight: bolder;
    font-size: 3.5em;
}
.footer{
    width:80%;
    height: auto;
    padding:0;
    padding-bottom: 30px;
}
#footerleft{
    float:left;
    padding-left: 10%;
}
#footer-right{
   margin-left: 50px;
    float: right;
    padding-right: 0;
   
}
.info-block-with-icon
{
    position: relative;
    text-align: left;
    width: 100%;
    display: table;
    
    margin: 0;
    height: 180px!important;
    padding: 0 10px 30px 0;
}
.info-icon{
/*    background: black;*/
    height: 32px!important;
    position: static;
/*    display: table-cell;*/
/*    padding: 0 10px 5px 0;*/
    width: 32px;
/*    margin-top:10px;*/
    font-size: 24px;
}
#whatido2{
/* margin-top:10px;   */
}
.info-text{
    position: relative;
    display: table-cell;
    padding: 0 0 0 15px;
    vertical-align: middle;
    text-align: justify;
}
.whatido{
    padding:0 5vw;
}
.section-title{
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 25px;
}
@media only screen and (max-width: 768px) 
{
    .landing{
        height: auto;
    }
    .whatido{
        padding-top:50px;
    }
    .section-title{
        text-align: center;
    }
    .hero-circle{
    width:80vw;
    }
    #hero-right{
        margin-top: -10vh;
        padding:0;
        text-align: center;
    }
    #hero-description{
        padding:0 10%;
        width: 100%;
        text-align: center;
    }
    .hey-description{
    padding-top:30px;
    font-size: 1.2em;
    text-align: justify;
}
    .navbar-collapse{
        display: inline!important;
        text-align: center;
    }
    .nav-item{
        width: auto!important;
        text-align: center;
        display: inline!important;
    }
    .nav navbar-nav ml-auto{
        width: 100%!important;
        text-align: center!important;
        
    }
    .navbar-brand{
        text-align: center;
        width: 100%;
    }
    .navbar-nav{
        flex-direction: row!important;
        padding-left: 15%!important;
        text-align: center;
    }
    .navbar{
        background: white!important;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25)!important;
    }
    #footerleft{
        font-size: 0.8em;
    }
    #footerright{
        font-size:0.8em;
    }
}

/*CSS FOR CUSTOM SCROLLBAR*/

::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #a8a8a8;
        border-radius:50px;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;

    }